$white: #FFFFFF;
$black: #000000;
$transparent: transparent;
$gray: #F0EFF4; $grey: #F0EFF4; $darkgrey: #646464; $medgrey: #a0a0a0;
$orange: #FEA734;
$red: #E25547;
$blue: #0069D2;
$pink: #E09DA3;
$purple: #9E9AB7;
$green: #9AC1A3;
$darkblue: #092047;
