@import '~bootstrap/scss/bootstrap';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

html {
	height: 90vh;

	body {
	  font-family: 'Gaegu', cursive;
	  text-align: center;
	  height: 90vh;

	  #root {
	  	height: 90vh;
	  }
	}
}

